@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Outfit:wght@300;400;600&family=Poppins:wght@200;400;600&family=Red+Hat+Display:wght@500;700;900&display=swap");
/* Primary colors */
/* Neutral colors */
/* fonts */
/*estyling the page body*/
body {
  font-family: "Barlow Semi Condensed", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #cfcfcf;
}

/*our main container*/
.main-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

/*styling the first card, container and background image*/
.first-card {
  width: 80%;
  margin: auto;
  background-color: #7541c8;
  border-radius: 10px;
  background-image: url(/images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 228px 0px;
  background-size: 120px;
  height: 510px;
}

/*styling the name, verification and image*/
.graduate ul {
  list-style-type: none;
  width: 130px;
  height: 60px;
  text-align: start;
  color: #cfcfcf;
  font-size: 15px;
  font-weight: 600;
  margin-left: 50px;
  position: relative;
  bottom: 60px;
  padding-top: 15px;
}

/*styling the images*/
.perfil-image {
  width: 35px;
  position: relative;
  top: 10px;
  left: 35px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(207, 207, 207, 0.5);
}

/* styling the "verified Graduate"*/
ul li span {
  color: #cfcfcf;
  font-weight: 500;
  opacity: 0.5;
  font-size: 13px;
}

/*styling first card and second card, first Paragraph"*/
.first-card h1, .second-card h1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ecf2f8;
  font-weight: 600;
  text-align: start;
  font-size: 23px;
  padding-left: 35px;
  padding-right: 50px;
  position: relative;
  bottom: 90px;
}

/*breaking a line using span, fisrt text "i received.."*/
#break1::after {
  content: "\a";
  white-space: pre;
}

/*styling all the reviwes */
#review, #review3, #review4, #review5 {
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #cfcfcf;
  font-weight: 500;
  font-size: 15px;
  padding-right: 55px;
  padding-left: 35px;
  line-height: 1.5;
  opacity: 0.7;
  position: relative;
  bottom: 85px;
}

/*end of the first card*/
/*second card and third card container*/
.second-card, .third-card {
  background-color: #48556a;
  width: 80%;
  border-radius: 10px;
  margin: auto;
  height: 270px;
}

/*second-card Review*/
#review2 {
  color: #cfcfcf;
  font-weight: 500;
  font-size: 15px;
  padding-left: 35px;
  padding-right: 35px;
  line-height: 1.5;
  opacity: 0.7;
  position: relative;
  bottom: 85px;
}

/*end of second card*/
/*third card container*/
.third-card {
  background-color: white;
}

/*styling third and fourth cards paragraphs*/
.third-card h1, .fourth-card h1 {
  color: #48556a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 600;
  text-align: start;
  font-size: 23px;
  padding-left: 35px;
  padding-right: 25px;
  position: relative;
  bottom: 90px;
}

#review3 {
  color: rgba(72, 85, 106, 0.7);
}

.graduate3 ul {
  color: #48556a;
  list-style-type: none;
  width: 130px;
  height: 60px;
  text-align: start;
  font-size: 15px;
  font-weight: 600;
  margin-left: 50px;
  position: relative;
  bottom: 60px;
  padding-top: 15px;
}

.graduate3 ul li span {
  color: rgba(25, 33, 46, 0.5);
  font-weight: 600;
  opacity: 0.5;
  font-size: 13px;
}

/*styling the fourth card container*/
.fourth-card {
  background-color: #19212e;
  width: 80%;
  margin: auto;
  height: 400px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: 228px 0px;
  background-size: 120px;
  padding: 20px 0 20px 0;
}

.fourth-card p {
  color: white;
  padding-right: 35px;
}

/*fourth perfil-image*/
.perfil-image4 {
  width: 35px;
  position: relative;
  top: 10px;
  left: 35px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(117, 65, 200, 0.5);
}

#review4 {
  padding-right: 37px;
}

/*styling the fifth card container */
.fifth-card {
  background-color: white;
  width: 80%;
  margin: auto;
  height: 500px;
  border-radius: 10px;
  background-position: 228px 0px;
  padding: 20px 0 20px 0;
}

/*perfil-image5*/
.perfil-image5 {
  width: 35px;
  position: relative;
  top: 10px;
  left: 35px;
  border-radius: 50%;
}

/*card5 styling first p*/
.fifth-card h1 {
  color: #48556a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 600;
  text-align: start;
  font-size: 23px;
  padding-left: 35px;
  padding-right: 25px;
  position: relative;
  bottom: 90px;
}

/*card5 styling ul and li*/
.fifth-card ul {
  color: #48556a;
}

.fifth-card ul li span {
  color: rgba(117, 65, 200, 0.5);
}

/*card5 styling review*/
#review5 {
  color: rgba(117, 65, 200, 0.7);
  padding-right: 37px;
}

.attribution {
  margin-top: 20px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

/*desktop desgin*/
@media only screen and (min-width: 1000px) {
  /*styling the main container for desktop, this is a grid container*/
  .main-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    -ms-grid-rows: 350px 350px;
        grid-template-rows: 350px 350px;
  }
  /*styling the first card for desktop*/
  .first-card {
    grid-column: span 2;
    width: 100%;
    height: 100%;
    background-position: 350px 0;
  }
  /*styling the second card for desktop*/
  .second-card {
    width: 350px;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    height: 100%;
  }
  /*styling the third card for desktop*/
  .third-card {
    width: 100%;
    height: 100%;
  }
  /*styling the fourth card for desktop*/
  .fourth-card {
    width: 100%;
    grid-column: span 2;
    height: 90%;
  }
  /*styling thefifth card for desktop*/
  .fifth-card {
    -ms-flex-line-pack: start;
        align-content: start;
    -ms-grid-column: 4;
    grid-column: 4;
    -ms-grid-row: 1;
    grid-row: 1;
    grid-row-end: 3;
    width: 100%;
    height: 95%;
  }
  /*changing the break1 which in mobile design the content had to break, in desktop design we dont neet it*/
  #break1::after {
    content: initial;
  }
}
/*# sourceMappingURL=style.css.map */